name: Push-to-KB

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        container: ubuntu
        steps:
            - uses: actions/checkout@v2
            - name: Pushes to another repository
              uses: cpina/github-action-push-to-another-repository@55306faa4ed53b815ae49e564af8cfb359d32ae2
              env:
                  SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
              with:
                  source-directory: "content"
                  destination-github-username: "FalixNodes-Software"
                  destination-repository-name: "Knowledge-base"
                  target-branch: main
                  commit-message: ORIGIN_COMMIT
                  target-directory: "content"
